@font-face {
  font-family: 'SONGER SemiExpanded';
  src: url('/fonts/songer.semiexpanded-bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.meetmyteam {
    background-color: #F5FAFF;
    color: #245383; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.meetmyteam h3 {
    font-family: "SONGER SemiExpanded", sans-serif;
    font-size: clamp(20px, 10vw, 100px);
    margin-top: 50px; 
    margin-bottom: 100px; 
}

.teamboard {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
    gap: 40px; 
}

.teamcard {
    font-family: "Work-Sans", sans-serif;
    color: #245383; 
    display: flex; 
    flex-direction: column;
    align-items: center; 
    height: 400px; 
    width: 300px;  
    margin-bottom: 40px;  
}

.teamcard h1 {
    font-family: "SONGER SemiExpanded", sans-serif;
    font-weight: bold;
    margin-top: 16px; 
    margin-bottom: 20px; 
    overflow: clip; 
    text-align: center;
}

.teamcard img {
    border-radius: 30px; 
    box-shadow: 0px 18px 30px 0px #00000029;
    height: 300px; 
    width: 216px; 
    overflow: hidden; 
    object-fit: cover;
    object-position: center;
}