@font-face {
  font-family: 'SONGER SemiExpanded';
  src: url('/fonts/songer.semiexpanded-medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work-Sans';
  src: url('/fonts/WorkSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

button {
    background-color: #378CE7;
    font-size: 24px !important; 
}

button:hover {
    background-color: #3740e7;
    cursor: pointer;
}

.extended-form {
    display: flex;
    justify-content: space-around;
    width: 100%; 
}

.contact-us-page {
    font-family: 'Work-Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
}

.contact-us-page h1 {
    font-family: 'SONGER SemiExpanded', sans-serif;
    font-size: 48px; 
    margin: 20px; 
}

.contact-us-page h2 {
    font-family: 'SONGER SemiExpanded', sans-serif;
    font-size: 30px; 
}

.info-box {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.faq {
    font-family: 'SONGER SemiExpanded', sans-serif;
    background-color: #378CE7;
    border-radius: 100px;
    padding: 5px 30px;  
    color: white; 
    margin: 20px; 
}

.faq:hover {
    background-color: #3740e7;
    cursor: pointer;
}

.contact-us-page button {
    font-family: 'SONGER SemiExpanded', sans-serif;
    border-radius: 100px;
    padding: 5px 30px;  
    color: white; 
    margin: 20px; 
}

.contact-form {
    width: 45%;
    background-color: #C6E2FF;
    display: flex;
    flex-direction: column;
    align-content: flex-start;     
    border-radius: 10px;
    font-size: 18px;
}

.name-field {
    display: flex;
    justify-content: space-between;
}

.input-field {
    margin: 8px 20px; 
}

.input-field input {
    background-color: white;
    border-radius: 8px;
    padding: 5px 10px; 
    align-content: baseline;
}

.input-field textarea {
    background-color: white;
    border-radius: 8px;
    padding: 5px 10px; 
    align-content: baseline;
}