@font-face {
  font-family: 'SONGER SemiExpanded';
  src: url('/fonts/songer.semiexpanded-medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work-Sans';
  src: url('/fonts/WorkSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.footer {
  width: 100%;
  height: 100%;
  background: #245383;
  color: #FFFFFF; 
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  box-sizing: border-box;  
  position: relative;
  padding: 3rem 3rem; 
  display: flex;
  align-items: flex-start;
  font-family: "Work-Sans", sans-serif;
}

.footer h1 {
  font-family: "SONGER SemiExpanded", sans-serif;
  font-size: 30px;
}

.footer-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 18px;
  gap: 6px;  
}

.footer-list-item {
  display: flex; 
  flex-direction: row;
  align-items: center; 
  gap: 20px; 
}

.footer-list-item-2 {
  display: flex; 
  flex-direction: row;
  align-items: center; 
  font-size: 30px; 
  gap: 8px; 
}