.footer {
  width: 100%;
  height: 100%;
  background: #245383;
  color: #FFFFFF; 
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  box-sizing: border-box;  
  position: relative;
  padding: 3rem 3rem; 
  display: flex;
  align-items: flex-start;
  font-family: "Work-Sans", sans-serif;
}

.footer h1 {
  font-family: "SONGER SemiExpanded", sans-serif;
  font-size: 30px;
}

.footer-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 16px;
  gap: 8px;  
}

.footer-list a {
  position: relative;
  text-decoration: none; 
  color: white; 
}

/* Underline animation */
.footer-list a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #FFFFFF;
  transition: width 0.3s ease;
}

.footer-list a:hover::after {
  width: 100%;
}

.footer-list-item {
  display: flex; 
  flex-direction: row;
  align-items: center; 
  gap: 20px; 
}

.footer-list-item-2 {
  display: flex; 
  flex-direction: row;
  align-items: center; 
  font-size: 30px; 
  gap: 8px; 
}

.footer-bottom {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 16px;
  color: #ffffff; /* slightly lighter than white */
}

